{{ define "main" }}
<div class="hero-wrap" style="background-image: url('{{ .Params.banner }}');">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
    </div>
  </div>
</div>

<!-- Quote section -->
<section class="ftco-section bg-red" id="sustainable_goals">
  <div class="container">
    <div class="d-flex align-items-center flex-column">
      <blockquote class="blockquote text-center">
        <h3 class=""><strong>{{ .Title }}</strong></h3>
        <p class="">
          <strong>{{ .Params.quote_heading }}</strong>
        </p>
        <p class="">
          <strong>{{ .Params.quote }}</strong>
        </p>
      </blockquote>
    </div>
  </div>
</section>
<section class="ftco-section" id="">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h4 class="mb-4">
          <strong
            ><i>{{ .Params.side_heading }}</i></strong
          >
        </h4>
      </div>
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div
          class="img img-involved img-fund-raiser"
          style="background-image: url('{{ .Params.side_image }}'); "
        ></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg align-items-center">
        <p style="display: flex; align-items: center">{{ .Params.side_content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-degree-bg bg-primary">
  <div class="container">
    <div class="col-md-12 heading-section ftco-animate text-center">
      <h2 class="">{{ .Params.one_stop_heading }}</h2>
      <h4 class="mb-4">{{ .Params.one_stop_subheading }}</h4>
    </div>
    <div class="markdown-content">
      <p>{{ .Content }}</p>
    </div>
  </div>
</section>
{{ end }}
