{{ define "main" }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := .Params.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div class="hero-wrap" style="background-image: url('{{ $element.hero_image }}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-7 ftco-animate text-center">
              {{ if ( eq $index 3) }}
              <h1 class="mb-4 img-black">
                {{ $element.text }}
              </h1>
              {{ else }}
              <h1 class="mb-4">
                {{ $element.text }}
              </h1>
              {{ end }}
              {{ if not (eq $element.footer_text "")  }}
              <p class="mb-5">
                {{ $element.footer_text }}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{ with .Site.GetPage "/approach/pronged_approach.md" }}
<section class="ftco-section" id="homeless_by_birth">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h2 class="">{{ .Params.story_title }}</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="markdown-content col-md-12 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Params.story_description }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Quote section -->
<section class="ftco-section bg-primary" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
          <h4 class="">
            <strong>{{ .Params.quote }}</strong>
          </h4>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section" id="pronged_approach">
  <div class="container">
    <div class="heading-section ftco-animate text-center align-items-center">
      <h2 class="heading">{{ .Title }}</h2>
    </div>
    <div
      class="img img-approach"
      style="background-image: url('{{ .Params.pronged_image }}');"
    ></div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/approach/approach_types" }}
<section class="ftco-section">
  {{ .Render "li" }}
</section>
{{ end }}

<section class="ftco-section bg-yellow journey" id="journey">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <blockquote class="blockquote align-items-center justify-content-center">
        <h4>
          <strong class="no-quote-icon ">{{ .Params.donate_text }} </strong>
        </h4>
      </blockquote>
    </div>
    <div class="row align-items-center justify-content-center">
      <a
        href="{{ .Params.donate_link }}"
        class="btn btn-bg-red-text-primary"
        >{{ .Params.donate_button_text }}</a
      >
    </div>
  </div>
</section>

<br />
{{ end }}
