{{ define "main" }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := .Params.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div
        class="hero-wrap"
        style="background-image: url('{{ $element.hero_image }}');"
        
      >
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row no-gutters slider-text align-items-center justify-content-center"
            data-scrollax-parent="true"
          >
            <div
              class="col-md-7 ftco-animate text-center"
              data-scrollax=" properties: { translateY: '70%' }"
            >
              <h4 class="mb-4" >
                {{ $element.text }}
              </h4>
              {{ if not (eq $element.footer_text "")  }}
              <p class="mb-5" >
                {{ $element.footer_text }}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Quote section -->
<section class="ftco-section bg-primary " id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
            <i class="fas fa-quote-left fa-2x"></i>
            <strong>{{ .Params.quote }}</strong>
            </br>
            <strong>- {{ .Params.quote_author }}</strong>
            <i class="fas fa-quote-right fa-2x"></i>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{ with .Site.GetPage "/impact/case_stories.md" }}
<section class="ftco-section" id="case_stories">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-impact img-case-story "
          style="background-image: url('{{ .Params.story_1.image }}');"></div>
      </div>
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Params.story_1.content | markdownify }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Params.story_2.content| markdownify }}</p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-impact img-case-story "
          style="background-image: url('{{ .Params.story_2.image }}');"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/impact/covid_response.md" }}
<section class="ftco-section " id="covid_response">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-2">{{ .Params.title }}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex ftco-animate">
        <div class="img img-impact img-covid"
          style="background-image: url('{{ .Params.covid_image }}');"></div>
      </div>
      <div class="text-justify markdown-content col-lg-4 ftco-animate ftco-degree-bg">
        <p>{{ .Params.side_content | markdownify }}</p>
      </div>
    </div>
    <div class="markdown-content ftco-animate ftco-degree-bg">
      <p>{{ .Content }}</p>
    </div>
    <div class="row align-items-center justify-content-center">
      <a href="{{ .Params.donate_button_link }}" class="btn btn-white px-3 py-2 mt-2">{{ .Params.donate_button_text }}</a>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/impact/volunteer_testimonials.md" }}
<!-- Section: Testimonials v.2 -->
<section class="text-justify ftco-section" id="volunteer_testimonials">
  <hr>
  <div class="container">
    <!-- Section heading -->
    <div class="heading-section ftco-animate text-center">
      <h2 class="mb-4">{{ .Title }}</h2>
    </div>

    <div class="wrapper-carousel-fix">
      <!-- Carousel Wrapper -->
      <div id="carousel-example-1" class="carousel no-flex testimonial-carousel carousel-fade"
        data-ride="carousel" data-interval="false">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--slide-->
          {{ range $index, $element := .Params.testimonials }}
          <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
            <div class="testimonial row">
              <!--Avatar-->
              <div class="avatar mb-4 mx-auto col-sm-12 col-md-4">
                <img src="{{ $element.image }}" class="img-volunteer"
                  alt="{{ $element.name }}">
              </div>
              <!--Content-->
              <div class="col-sm-12 col-md-8">
                <p class="markdown-content">
                <i class="fas fa-quote-left mr-2"></i>
                {{ $element.content | markdownify }}
                </p>
                <h4 class="text-center font-weight-bold">{{ $element.name }}</h4>
              </div>
            </div>
          </div>
          {{ end }}
          <!--slide-->
        </div>
        <!--Slides-->
        <!--Controls-->
        <div class="text-center">
          <a class="carousel-control-prev btn-floating btn-lg darken-4" href="#carousel-example-1" data-slide="prev">
            <i class="fas fa-chevron-left fa-2x" aria-hidden="true" ></i>
          </a>
          <a class="carousel-control-next btn-floating btn-lg darken-4" href="#carousel-example-1" data-slide="next">
            <i class="fas fa-chevron-right fa-2x" aria-hidden="true" ></i>
          </a>
        </div>
        <!--Controls-->
      </div>
      <!-- Carousel Wrapper -->
    </div>

  </div>
  <hr>
</section>
<!-- Section: Testimonials v.2 -->
{{ end }}


<section class="mb-4 ftco-section" id="media">
{{ with .Site.GetPage "/impact/media" }}
    <div class="heading-section ftco-animate text-center">
      <h2 class="mb-4">{{ .Title }}</h2>
    </div>

{{ end }}
{{ with .Site.GetPage "/impact/media/news" }}
    {{ .Render "li" }}
    <div class="container" id="news">
      <div class="row align-items-center justify-content-center">
        <a href="news" class="btn btn-white px-3 py-2 mt-2">{{ .Params.explore_button }}</a>
      </div>
    </div>
{{ end }}
</section>

{{ with .Site.GetPage "/impact/media/awards.md" }}
<section class="ftco-section" id="awards">
  <div class="container">
    <div class="row d-flex">
      <div class="item col-sm-12">
        <div class="cause-entry">
          <a class="img" style="background-image: url('{{ .Params.banner }}');"></a>
          <div class="text p-3 p-md-4">
            <h3>
              <a href="#{{ .Title | urlize }}">{{ .Title }}</a>
            </h3>
            <p>{{ .Content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
  {{ with .Site.GetPage "/impact/media/annual_reports" }}
  <section class="ftco-section" id="annual_reports">
    <div class="heading-section ftco-animate text-center">
      <h2 class="mb-4">{{ .Title }}</h2>
    </div>
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="img img-impact img-case-story "
            style="background-image: url('{{ .Params.banner }}');"></div>
        </div>
        <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
  </section>
{{ end }}

{{ end }}
