{{ define "main" }}
<div class="hero-wrap" style="background-image: url('{{ .Params.banner }}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <span class="mr-2"><a
              href="{{ .CurrentSection.Parent.Permalink }}">{{ .CurrentSection.Parent.Title }}</a></span>
          <span class="mr-2"><a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a></span>
        </p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</div>

<!-- Quote section -->
<section class="ftco-section bg-primary " id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
          <p class="p-5"><strong>"{{ .Params.qoute }}"</strong></p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{ with .Site.GetPage "/impact/case_stories.md" }}
<section class="ftco-section" id="case_stories">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.story_1.image }}'); width: 100%;"></div>
      </div>
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>
        <p>{{ .Params.story_1.content | markdownify }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Params.story_2.content| markdownify }}</p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.story_2.image }}'); width: 100%;"></div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ with .Site.GetPage "/approach/pronged.md" }}
<section class="ftco-section" id="pronged">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.first_approach_title }}</h3>
            <p>{{ .Params.first_approach_body }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.second_approach_title }}</h3>
            <p>{{ .Params.second_approach_body }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.third_approach_title }}</h3>
            <p>{{ .Params.third_approach_body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ partial "gallery_section.html" . }}
{{ with .Site.GetPage "/approach/programs.md" }}
<section class="ftco-section" id="programs">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Content }}</p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.banner }}'); width: 100%;"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
