{{ define "main" }}
<div class="hero-wrap" style="background-image: url('{{ .Params.hero_image }}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <span class="mr-2"><a href="/">Home</a></span> <span>About</span>
        </p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</div>

{{ with .Site.GetPage "/about/vision_mission.md" }}
<section class="ftco-section" id="vision_mission">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.vision_title }}</h3>
            <p>{{ .Params.vision_body }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.mission_title }}</h3>
            <p>{{ .Params.mission_body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/homeless_young_women.md" }}
<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="item">
        <div class="cause-entry">
          <a class="img" style="background-image: url('{{ .Params.banner }}');"></a>
          <div class="text p-3 p-md-4">
            <h3>
              <a href="#{{ .Title | urlize }}">{{ .Title }}</a>
            </h3>
            {{ if not (eq .Summary "") }}
            <p>{{ .Summary }}</p>
            <p>
              <a href="{{ .Permalink }}">Read more<i class="ion-ios-arrow-forward"></i></a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/demographic.md" }}
<section class="ftco-section" id="demographic">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.banner }}'); width: 100%;"></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/organization.md" }}
<section class="ftco-section" id="organization">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-8 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.banner }}'); width: 100%;"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/teams.md" }}
<!-- team -->
<section class="ftco-section bg-light" id="team">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.board.title }}</h2>
        <p>{{ .Params.board.subtitle }}</p>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := .Params.board.members }}
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto" data-toggle="modal" data-target="#{{ $index }}">
          <img src="{{ $element.image }}" width="100%" class="z-depth-1" alt="{{ $element.name }}">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" data-toggle="modal" data-target="#{{ $index }}">{{ $element.name }}</h5>
        <p class="text-uppercase blue-text" data-toggle="modal" data-target="#{{ $index }}">
          <strong>{{ $element.role }}</strong></p>
        <!-- Modal -->
        <div class="modal fade" id="{{ $index }}" tabindex="-1" role="dialog" aria-labelledby="{{ $index }}"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle{{ $index }}">{{ $element.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ $element.about }}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="{{ $element.facebook }}">
            <span class="icon-facebook"></span>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic" href="{{ $element.twitter }}">
            <span class="icon-twitter"></span>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" href="{{ $element.instagram }}">
            <span class="icon-instagram"></span>
          </a>
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.team.title }}</h2>
        <p>{{ .Params.team.subtitle }}</p>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := .Params.team.members }}
      <div class="col-lg-2 col-md-4 mb-lg-0 mb-5">
        <div class="avatar mx-auto" data-toggle="modal" data-target="#{{ $index }}">
          <img src="{{ $element.image }}" width="100%" class="rounded-circle z-depth-1" alt="{{ $element.name }}">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" data-toggle="modal" data-target="#{{ $index }}">{{ $element.name }}</h5>
        <p class="text-uppercase blue-text" data-toggle="modal" data-target="#{{ $index }}">
          <strong>{{ $element.role }}</strong></p>
        <!-- Modal -->
        <div class="modal fade" id="{{ $index }}" tabindex="-1" role="dialog" aria-labelledby="{{ $index }}"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle{{ $index }}">{{ $element.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ $element.about }}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="{{ $element.facebook }}">
            <span class="icon-facebook"></span>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic" href="{{ $element.twitter }}">
            <span class="icon-twitter"></span>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic" href="{{ $element.instagram }}">
            <span class="icon-instagram"></span>
          </a>
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/partners.md" }}
<section class="ftco-section" id="partners">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-lg-5 col-md-12 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          {{ range $index, $element := .Params.partners }}
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto" data-toggle="modal" data-target="#partner_{{ $index }}">
              <img src="{{ $element.image }}" width="100%" class="z-depth-1" alt="{{ $element.name }}">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3" data-toggle="modal" data-target="#partner_{{ $index }}">
              {{ $element.name }}</h5>
            <!-- Modal -->
            <div class="modal fade" id="partner_{{ $index }}" tabindex="-1" role="dialog" aria-labelledby="{{ $index }}"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="partnerModalLongTitle{{ $index }}">{{ $element.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ $element.about }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/awards.md" }}
<section class="ftco-section" id="awards">
  <div class="container">
    <div class="row d-flex">
      <div class="item col-sm-12">
        <div class="cause-entry">
          <a class="img" style="background-image: url('{{ .Params.banner }}');"></a>
          <div class="text p-3 p-md-4">
            <h3>
              <a href="#{{ .Title | urlize }}">{{ .Title }}</a>
            </h3>
            <p>{{ .Content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
