{{ define "main" }}
<div
  class="hero-wrap"
  style="background-image: url('{{ .Params.hero_image }}');"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <span class="mr-2"><a href="/">Home</a></span> <span>About</span>
        </p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</div>

{{ with .Site.GetPage "/about/organization.md" }}
<section class="ftco-section" id="organization">
  <div class="container">
    <div class="row d-flex">
      <div class="item">
        <div class="cause-entry">
          <a
            class="img"
            style="background-image: url('{{ .Params.banner }}');"
          ></a>
          <div class="text p-3 p-md-4">
            <h3>
              <a href="#{{ .Title | urlize }}">{{ .Title }}</a>
            </h3>
            <p>{{ .Content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/vision_mission.md" }}
<section class="ftco-section" id="vision_mission">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.vision_title }}</h3>
            <p>{{ .Params.vision_body }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">{{ .Params.mission_title }}</h3>
            <p>{{ .Params.mission_body }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/demographic.md" }}
<section class="ftco-section" id="demographic">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex ftco-animate">
        <div
          class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.banner }}'); width: 100%;"
        ></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/partners.md" }}
<section class="ftco-section" id="partners">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        <p>{{ .Content }}</p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div
          class="img img-about align-self-stretch"
          style="background-image: url('{{ .Params.banner }}'); width: 100%;"
        ></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ partial "counter_section.html" . }}

<section class="ftco-section bg-light" id="team">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.team_title }}</h2>
        <p>{{ .Params.team_subtitle }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .Params.team_members }}
      <div class="col-lg-6 d-flex mb-sm-4 ftco-animate">
        <div class="staff">
          <div class="d-flex mb-4">
            <div class="img" style="background-image: url('{{ .image }}');"></div>
            <div class="info ml-4">
              <h3><a href="teacher-single.html">{{ .name }}</a></h3>
              <span class="position">{{ .role }}</span>
              <div class="text">
                <p>{{ .about }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
