{{ define "main" }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := .Params.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div class="hero-wrap" style="background-image: url('{{ $element.hero_image }}');">
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row no-gutters slider-text align-items-center justify-content-center"
            data-scrollax-parent="true"
          >
            <div
              class="col-md-7 ftco-animate text-center"
              data-scrollax=" properties: { translateY: '70%' }"
            >
              <h1 class="mb-4">
                {{ $element.text }}
              </h1>
              {{ if not (eq $element.footer_text "")  }}
              <p class="mb-5">
                {{ $element.footer_text }}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Quote section -->
<section class="ftco-section bg-primary" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
          <p class="">
            <strong>{{ .Params.quote }}</strong>
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{ with .Site.GetPage "/about/vision_mission.md" }}
<section class="ftco-section" id="vision_mission">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 col-md-12 d-flex ftco-animate">
        <div class="markdown-content col-md-6 ftco-animate ftco-degree-bg">
          <h3 class="heading">{{ .Params.vision_title }}</h3>

          <p>{{ .Params.vision_body }}</p>
        </div>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div
          class="img img-about img-vision"
          style="background-image: url('{{ .Params.banner }}'); "
        ></div>
      </div>
      <div class="markdown-content col-md-6 ftco-animate ftco-degree-bg">
        <h3 class="heading">{{ .Params.mission_title }}</h3>

        <p>{{ .Params.mission_body }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/sustainable_goals.md" }}

<section class="ftco-section bg-red" id="sustainable_goals">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote text-center">
          <p class="font-primary-color">
            <strong>{{ .Content }}</strong>
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ with .Site.GetPage "/about/we_work_with.md" }}
<section class="ftco-section" id="we_work_with">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div class="img img-about" style="background-image: url('{{ .Params.banner }}');"></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg">
        <h2 style="text-align: center">{{ .Title }}</h2>
        {{ with .Site.GetPage "/about/homeless_young_women.md" }}

        <div class="container">
          <div class="row d-flex">
            <div class="item">
              <div class="">
                <h5 style="text-align: center">
                  <i>{{ .Title }}</i>
                </h5>
                <div class="text p-3 p-md-4">
                  {{ if not (eq .Summary "") }}
                  <p>{{ .Summary }}</p>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>

        {{ end }}

        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/our_roots.md" }}
<section class="ftco-section" id="our_roots">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6">
        <h2 style="text-align: center">{{ .Title }}</h2>

        <p style="display: flex; align-items: center">{{ .Content }}</p>
      </div>
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div class="img img-about" style="background-image: url('{{ .Params.banner }}'); "></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/where_we_work.md" }}

<section class="ftco-section" id="where_we_work">
  <div class="container">
    <div class="row d-flex">
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div
          class="img img-about img-map"
          style="background-image: url('{{ .Params.banner }}'); "
        ></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Title }}</h2>

        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/teams.md" }}
<!-- team -->
<section class="ftco-section bg-light" id="team">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-8 heading-section ftco-animate text-center">
        <h2 class="mb-4">
          <b>{{ .Title }}</b>
        </h2>
        <h2>
          {{ .Params.board.title }}
        </h2>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := .Params.board.members }}
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto" data-toggle="modal" data-target="#board-{{ $index }}">
          <img src="{{ $element.image }}" class="z-depth-1" alt="{{ $element.name }}" />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3" data-toggle="modal" data-target="#{{ $index }}">
          {{ $element.name }}
        </h5>
        <p class="text-uppercase blue-text" data-toggle="modal" data-target="#{{ $index }}">
          <strong>{{ $element.role }}</strong>
        </p>
        <!-- Modal -->
        <div
          class="modal fade"
          id="board-{{ $index }}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="{{ $index }}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle{{ $index }}">{{ $element.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ $element.about }}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          {{ if not (eq $element.facebook "") }}
          <a class="p-2 fa-lg fb-ic" href="{{ $element.facebook }}">
            <span class="icon-facebook"></span>
          </a>
          {{ end }}
          <!-- Twitter -->
          {{ if not (eq $element.twitter "") }}
          <a class="p-2 fa-lg tw-ic" href="{{ $element.twitter }}">
            <span class="icon-twitter"></span>
          </a>
          {{ end }}
          <!-- Instagram -->
          {{ if not (eq $element.instagram "") }}
          <a class="p-2 fa-lg ins-ic" href="{{ $element.instagram }}">
            <span class="icon-instagram"></span>
          </a>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.team.title }}</h2>
        <p>{{ .Params.team.subtitle }}</p>
      </div>
    </div>
    <div class="row">
      {{ range $index, $element := .Params.team.members }}
      <div class="col-lg-2 col-md-4 mb-lg-0 mb-5">
        <div class="avatar mx-auto" data-toggle="modal" data-target="#team-{{ $index }}">
          <img
            src="{{ $element.image }}"
            width="100%"
            class="rounded-circle z-depth-1"
            alt="{{ $element.name }}"
          />
        </div>
        <h6
          class="font-weight-bold mt-4 mb-3 text-center"
          data-toggle="modal"
          data-target="#{{ $index }}"
        >
          {{ $element.name }}
        </h6>
        <p
          class="text-uppercase blue-text text-center"
          data-toggle="modal"
          data-target="#{{ $index }}"
        >
          <strong>{{ $element.role }}</strong>
        </p>
        <!-- Modal -->
        <div
          class="modal fade"
          id="team-{{ $index }}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="{{ $index }}"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle{{ $index }}">{{ $element.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ $element.about }}
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled mb-0 text-center">
          <!-- Facebook -->
          {{ if not (eq $element.facebook "") }}
          <a class="p-2 fa-lg fb-ic" href="{{ $element.facebook }}">
            <span class="icon-facebook"></span>
          </a>
          {{ end }}
          <!-- Twitter -->
          {{ if not (eq $element.twitter "") }}
          <a class="p-2 fa-lg tw-ic" href="{{ $element.twitter }}">
            <span class="icon-twitter"></span>
          </a>
          {{ end }}
          <!-- Instagram -->
          {{ if not (eq $element.instagram "") }}
          <a class="p-2 fa-lg ins-ic" href="{{ $element.instagram }}">
            <span class="icon-instagram"></span>
          </a>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/partners.md" }}
<section class="ftco-section" id="partners">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-lg-5 col-md-12 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Params.partners_title }}</h2>
        <p>{{ .Params.partners_content }}</p>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          {{ range $index, $element := .Params.partners }}
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto" data-toggle="modal" data-target="#partner_{{ $index }}">
              <img
                src="{{ $element.image }}"
                width="100%"
                class="z-depth-1"
                alt="{{ $element.name }}"
              />
            </div>
            <h5
              class="font-weight-bold mt-4 mb-3"
              data-toggle="modal"
              data-target="#partner_{{ $index }}"
            >
              {{ $element.name }}
            </h5>
            <!-- Modal -->
            <div
              class="modal fade"
              id="partner_{{ $index }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="{{ $index }}"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="partnerModalLongTitle{{ $index }}">
                      {{ $element.name }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ $element.about }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section" id="funders">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-lg-5 col-md-12 ftco-animate ftco-degree-bg">
        <h2 class="mb-4">{{ .Params.funders_title }}</h2>
        <p>{{ .Params.funders_content }}</p>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="row">
          {{ range $index, $element := .Params.funders }}
          <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto" data-toggle="modal" data-target="#partner_{{ $index }}">
              <img
                src="{{ $element.image }}"
                width="100%"
                class="z-depth-1"
                alt="{{ $element.name }}"
              />
            </div>
            <h5
              class="font-weight-bold mt-4 mb-3"
              data-toggle="modal"
              data-target="#partner_{{ $index }}"
            >
              {{ $element.name }}
            </h5>
            <!-- Modal -->
            <div
              class="modal fade"
              id="partner_{{ $index }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="{{ $index }}"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="partnerModalLongTitle{{ $index }}">
                      {{ $element.name }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {{ $element.about }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}
