{{ $counter_data := .Site.Data.counter }}
<section class="ftco-counter ftco-intro text-justify" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-10 d-flex counter-wrap ftco-animate mt-60">
        <div class="block-18 align-items-stretch">
          <div class="text">
            <h4 class="color-tertiary italic">{{ $counter_data.title }}</h4>
            <span>{{ $counter_data.body }}</span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 counter-wrap">
        <div class="block-18 shadow rounded-circle z-depth-1 color-3 align-items-stretch">
          <div class="text m-auto">
            <strong class="number" data-number="{{ $counter_data.count_total }}">0</strong>
            <p class="">{{ $counter_data.tile_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
