{{ $data := .Site.Data.footer }}

<ul class="ct-socials">
  <li class="">
    <a href="{{ $data.twitter }}" target="_blank" rel="noopener noreferrer">
      <span class="icon-twitter"></span>
    </a>
  </li>
  <li class="">
    <a href="{{ $data.facebook }}" target="_blank" rel="noopener noreferrer">
      <span class="icon-facebook"></span>
    </a>
  </li>
  <li class="">
    <a href="{{ $data.instagram }}" target="_blank" rel="noopener noreferrer">
      <span class="icon-instagram"></span>
    </a>
  </li>
  <li class="">
    <a href="{{ $data.linkedin }}" target="_blank" rel="noopener noreferrer">
      <span class="icon-linkedin"></span>
    </a>
  </li>
</ul>
<footer class="ftco-footer img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-9">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ $data.title_1 }}</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ $data.contact_title }}</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">{{ $data.address }}</span>
              </li>
              <li>
                <a href=""
                  ><span class="icon icon-phone"></span
                  ><span class="text">{{ $data.telephone }}</span></a
                >
              </li>
              <li>
                <a href="{{ $data.email }}?subject={{ $data.email_subject }}"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">{{ $data.email }}</span></a
                >
              </li>
              <li>
                <span class="icon icon-clock-o"></span
                ><span class="text">{{ $data.office_hours }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>
          Urja Trust. All rights reserved.
          <br />
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          This website is developed & maintained with
          <i class="icon-heart" aria-hidden="true">&nbsp</i>by
          <b><a href="https://itcracy.com" target="_blank" rel="noopener noreferrer">ITcracy</a></b
          >.
        </p>
        <p>
          This template is made with <i class="icon-heart" aria-hidden="true">&nbsp</i>by
          <a href="https://colorlib.com" target="_blank" rel="noopener noreferrer">Colorlib</a>.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
