{{ $data := .Site.Data.footer }}
<footer class="ftco-footer img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ $data.title_1 }}</h2>
          <p>{{ $data.body_1 }}</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate">
              <a href="{{ $data.twitter }}" target="_blank" rel="noopener noreferrer">
                <span class="icon-twitter"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="{{ $data.facebook }}" target="_blank" rel="noopener noreferrer">
                <span class="icon-facebook"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="{{ $data.instagram }}" target="_blank" rel="noopener noreferrer">
                <span class="icon-instagram"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="{{ $data.linkedin }}" target="_blank" rel="noopener noreferrer">
                <span class="icon-linkedin"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Recent {{ $data.recent_section }}</h2>
          {{ range ( where .Site.RegularPages "Section" $data.recent_section | first 3 ) }}
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              href="{{ .Permalink }}"
              style="background-image: url('{{ .Params.banner }}');"
            ></a>
            <div class="text">
              <h3 class="heading">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </h3>
              <div class="meta">
                <div><span class="icon-calendar"></span> {{ .Date.Format "Mon, Jan 2, 2006" }}</div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Site Links</h2>
          <ul class="list-unstyled">
            {{ range.Site.Menus.nav }}
            <li>
              <a href="{{ .URL }}" class="py-2 d-block">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">{{ $data.contact_title }}</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">{{ $data.address }}</span>
              </li>
              <li>
                <a href=""
                  ><span class="icon icon-phone"></span
                  ><span class="text">{{ $data.telephone }}</span></a
                >
              </li>
              <li>
                <a href="{{ $data.email }}?subject={{ $data.email_subject }}"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">{{ $data.email }}</span></a
                >
              </li>
              <li>
                <span class="icon icon-clock-o"></span
                ><span class="text">{{ $data.office_hours }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          This website is developed with <i class="icon-heart" aria-hidden="true">&nbsp</i>by
          <b><a href="https://itcracy.com" target="_blank" rel="noopener noreferrer">ITcracy</a></b>
        </p>
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart" aria-hidden="true">&nbsp</i>by
          <a href="https://colorlib.com" target="_blank" rel="noopener noreferrer">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
