{{ $gallery_data := .Site.Data.gallery }}
<section class="ftco-gallery">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ $gallery_data.gallery_title }}</h2>
      </div>
    </div>
    <div class="d-md-flex row">
      {{ range $gallery_data.gallery }}
      <a href="{{ .image }}"
        class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
        style="background-image: url('{{ .image }}');" title="{{ .title }}" data-description="{{ .description }}">
        <div class="icon d-flex justify-content-center align-items-center">
          <span class="icon-search"></span>
        </div>
      </a>
      {{ end }}
    </div>
  </div>
</section>
