<section class="text-justify ftco-section" id="programs">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-7 ftco-animate text-center">
        <h2 class="">{{ .Title }}</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid large-screen-gallery">
        <div class="d-md-flex row">
          {{ range $index, $element := .Params.gallery }}
          <a
            href="{{ .image }}"
            class="gallery user-img image-popup d-flex flex-wrap justify-content-center align-items-center img ftco-animate"
            style="background-image: url('{{ .image }}');"
            title="{{ .image_title }}"
            data-description="{{ .description }}"
          >
            <div style="flex-basis: 100%" class="d-flex justify-content-center align-items-center">
              <p class="rounded bg-light p-2 color-tertiary">{{ .image_title }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      <div class="container-fluid small-screen-gallery">
        <div class="d-md-flex row">
          {{ range $index, $element := .Params.gallery }}
          <a
            href="{{ .image }}"
            class="gallery user-img image-popup d-flex flex-wrap justify-content-center align-items-center img ftco-animate"
            style="background-image: url('{{ .image }}');"
            title="{{ .image_title }}"
            data-description="{{ .description }}"
          >
            <div style="flex-basis: 100%" class="d-flex justify-content-center align-items-center">
              <p class="rounded bg-light p-2 color-tertiary">{{ .image_title }}</p>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
