<section class="text-justify ftco-section" id="programs">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Title }}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="container-fluid small-screen-gallery">
        <div class="d-md-flex row">
          {{ range $index, $element := .Params.gallery }}
          {{ if eq (len $element) $index }}
          <a
            href="{{ .image }}"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url('{{ .image }}');"
            title="{{ .image_title }}"
            data-description="{{ .description }}"
          >
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {{ else }}
          <a
            href="{{ .image }}"
            class="gallery image-popup justify-content-center align-items-center img ftco-animate d-none"
            style="background-image: url('{{ .image }}');"
            title="{{ .image_title }}"
            data-description="{{ .description }}"
          >
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="container-fluid large-screen-gallery">
        <div class="d-md-flex row">
          {{ range $index, $element := .Params.gallery }}
          <a
            href="{{ .image }}"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url('{{ .image }}');"
            title="{{ .image_title }}"
            data-description="{{ .description }}"
          >
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
