{{ define "main" }} {{ $data := .Site.Data.home }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := $data.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div class="hero-wrap" style="background-image: url('{{ $element.hero_image }}');">
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row no-gutters slider-text align-items-center justify-content-center"
            data-scrollax-parent="true"
          >
            <div
              class="col-md-7 ftco-animate text-center"
              data-scrollax=" properties: { translateY: '70%' }"
            >
              <h1 class="mb-4">
                {{ $element.title }}
              </h1>
              <p class="mb-5">
                {{ $element.subtitle }}
              </p>
              <p>
                <a
                  href="{{ $element.button_link }}"
                  class="btn btn-white btn-outline-white px-4 py-3"
                  >{{ $element.button_text }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{ partial "counter_section.html" . }}

{{ with .Site.GetPage "/about/homeless_young_women.md" }}

<!-- Quote section -->
<section class="ftco-section" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch p-3 d-flex">
        <blockquote class="blockquote">
          {{ if not (eq .Summary "") }}
          <strong> <i class="fas fa-quote-left fa-2x"></i>{{ .Summary }} </strong>
          <p>
            <a href="/about/#we_work_with">Read more<i class="ion-ios-arrow-forward"></i></a>
          </p>
          {{ end }}
        </blockquote>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/vision_mission.md" }}

<!-- Quote section -->
<section class="ftco-section bg-red" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex p-3">
        <blockquote class="blockquote font-primary-color">
          <p>{{ .Params.mission_body }}</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/approach/pronged_approach.md" }}
<section class="ftco-section" id="pronged_approach">
  <div class="container">
    <div class="heading-section ftco-animate text-center align-items-center">
      <h2 class="heading"><a href="{{ .Page.Parent.Permalink }}" style="color: black;">{{ .Title }}</a></h2>
    </div>
    <div
      class="img img-approach"
      style="background-image: url('{{ .Params.pronged_image }}');"
    ></div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/approach/programs.md" }}
{{ partial "programs_section.html" . }}
{{ end }}

{{ with .Site.GetPage "/impact/case_stories.md" }}
<section class="ftco-section" id="case_stories">
  <div class="container">
    <div class="heading-section ftco-animate text-center">
        <h2 class="" >{{ .Page.Parent.Title }}</h2>
      </div>
    <div class="row d-flex">
      <div class="markdown-content col-md-8 pl-md-5 ftco-animate ftco-degree-bg">
        {{ if gt (len .Params.story_2.content) 500 }}
        <p>{{ slicestr .Params.story_2.content 0 500 | markdownify }}</p>
        {{ else }}
        <p>{{ .Params.story_2.content | markdownify }}</p>
        {{ end }}
        <p>
          <a href="/impact/#case_stories">Read more<i class="ion-ios-arrow-forward"></i></a>
        </p>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div
          class="img img-impact img-case-story align-self-stretch"
          style="background-image: url('{{ .Params.story_2.image }}');"
        ></div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/updates" }}
<section class="ftco-section">
  {{ .Render "li" }}
</section>
{{ end }}
{{ with .Site.GetPage "/get_involved" }}
<section class="ftco-section"></section>
<!-- Quote section -->
<section class="ftco-section" id="get_involved">
  <div class="container">
    <div class="row align-items-center justify-content-center pt-2 pl-3 pr-3 mt-2">
      <blockquote class="blockquote align-items-center justify-content-center">
        <h2 class="heading">
          <i>{{ .Params.homepage_summary }}</i>
        </h2>
      </blockquote>
    </div>
    <div class="row align-items-center justify-content-center">
      <a href="/get_involved" class="btn btn-bg-red-text-primary">{{ .Title }}</a>
    </div>
  </div>
</section>
{{ end }}

<section class="ftco-section bg-primary" id="news_letter">
  <div class="container">
    <div class="row align-items-center justify-content-center pt-3 mt-3">
      <blockquote class="blockquote align-items-center justify-content-center">
        <h2 class="heading">
          {{ $data.newsletter_heading }}
        </h2>
      </blockquote>
    </div>
    <div class="row align-items-center justify-content-center p-3">
      <blockquote class="blockquote align-items-center justify-content-center">
        <p class="font-black-color">
          <strong
            ><i>{{ $data.newsletter_text }}</i></strong
          >
        </p>
      </blockquote>
    </div>
  </div>
</section>
{{ end }}
