{{ define "main" }} {{ $data := .Site.Data.home }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := $data.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div
        class="hero-wrap"
        style="background-image: url('{{ $element.hero_image }}');"
        data-stellar-background-ratio="0.5"
      >
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row no-gutters slider-text align-items-center justify-content-center"
            data-scrollax-parent="true"
          >
            <div
              class="col-md-7 ftco-animate text-center"
              data-scrollax=" properties: { translateY: '70%' }"
            >
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                {{ $element.title }}
              </h1>
              <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                {{ $element.subtitle }}
              </p>
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                <a
                  href="{{ $element.button_link }}"
                  class="btn btn-white btn-outline-white px-4 py-3"
                  >{{ $element.button_text }}</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{ partial "counter_section.html" . }}

{{ with .Site.GetPage "/about/homeless_young_women.md" }}

<!-- Quote section -->
<section class="ftco-section" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
          {{ if not (eq .Summary "") }}
          <strong>
            <i class="fas fa-quote-left fa-2x"></i>
            {{ .Summary }}
            <i class="fas fa-quote-right fa-2x"></i>
          </strong>
          <p>
            <a href="/about/#we_work_with">Read more<i class="ion-ios-arrow-forward"></i></a>
          </p>
          {{ end }}
        </blockquote>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/about/vision_mission.md" }}

<!-- Quote section -->
<section class="ftco-section bg-primary" id="quote">
  <div class="container">
    <div class="row">
      <div class="align-self-stretch d-flex">
        <blockquote class="blockquote">
          <p>{{ .Params.mission_body }}</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/approach/pronged_approach.md" }}
<section class="ftco-section" id="pronged_approach">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex align-self-stretch ftco-animate ftco-degree-bg">
        <div class="media block-6 d-flex services py-4 d-block">
          <div class="media-body pl-4 align-items-center">
            <h2 class="heading">{{ .Title }}</h2>
            <div
              class="img img-approach"
              style="background-image: url('{{ .Params.pronged_image }}');"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/approach/programs.md" }}
<section class="ftco-section">
  {{ partial "programs_section.html" . }}
</section>
{{ end }}
{{ with .Site.GetPage "/events" }}
<section class="ftco-section">
  {{ .Render "li" }}
</section>
{{ end }}

{{ with .Site.GetPage "/get_involved" }}
<section class="ftco-section">
  {{ .Render "li" }}
</section>
{{ end }}

{{ end }}
