<div class="container">
  <div class="row">
    {{ range .Pages.ByDate | first 3 }}
    <div class="col-md-4 ftco-animate approach-types">
      <div class="blog-entry align-self-stretch">
        <a
          href="{{ .Permalink }}"
          class="block-20"
          style="background-image: url('{{ .Params.banner }}');"
        ></a>
        <div class="text p-4 d-block">
          <h3 class="heading md-4">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Summary | markdownify }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
