{{ define "main" }}
<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element := .Params.slides }}
    <div class="carousel-item {{ if ( eq $index 0) }}active{{ end }}">
      <div class="hero-wrap" style="background-image: url('{{ $element.hero_image }}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-7 ftco-animate text-center">
              <h1 class="mb-4" style="margin-top: 250px">
                {{ $element.text }}
              </h1>
              {{ if not (eq $element.footer_text "")  }}
              <p class="mb-5">
                {{ $element.footer_text }}
              </p>
              {{ end }}
              {{ if not (eq $element.button_text "") }}
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                <a
                  href="{{ $element.button_link }}"
                  class="btn btn-white btn-outline-white px-4 py-3"
                  >{{ $element.button_text }}</a
                >
              </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{ with .Site.GetPage "/get_involved/donate.md" }}
<section class="ftco-section mt-4 pt-4" id="donate">
  <div class="container">
    <div class="row d-flex">
      <div class="markdown-content col-md-12 ftco-animate ftco-degree-bg">
        <p>{{ .Params.description }}</p>
        <div class="d-flex align-items-end flex-column">
          <a href="{{ .Permalink }}" class="btn btn-bg-red-text-primary">
            {{ .Params.donate_button_text }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/get_involved/csr.md" }}
  {{ .Render "sgd" }}
{{ end }}

{{ with .Site.GetPage "/get_involved/company.md" }}
<section class="ftco-section mt-4 pt-4" id="company">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h2 class="">{{ .Title }}</h2>
      </div>
      <div class="markdown-content col-md-12 ftco-animate ftco-degree-bg">
        <p>{{ .Params.description }}</p>
        <div class="d-flex align-items-end flex-column">
          <a href="{{ .Permalink }}" class="btn btn-bg-red-text-primary">
            {{ .Params.company_button_text }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/get_involved/fund_raise.md" }}
<section class="ftco-section" id="fund_raise">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h2 class="">{{ .Title }}</h2>
      </div>
      </div>
    <div class="row d-flex align-items-center">
        <div
          class="img img-involved img-fund-raiser"
          style="background-image: url('{{ .Params.side_image }}'); "
        ></div>
      <div class="markdown-content col-md-6 ftco-animate ftco-degree-bg">
        <p style="display: flex; align-items: center">{{ .Content }}</p>
      </div>
      </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/get_involved/volunteer_intern.md" }}
<section class="ftco-section mt-4 pt-4" id="volunteer">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h2 class="">{{ .Title }}</h2>
      </div>
      <div class="markdown-content col-md-12 ftco-animate ftco-degree-bg text-center">
        <p>{{ .Params.description }}</p>
        <div class="d-flex align-items-center flex-column mt-5">
          <a href="{{ .Permalink }}" class="btn btn-bg-red-text-primary">
            {{ .Params.volunteer_button_text }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Site.GetPage "/get_involved/work_with_us" }}
<section class="ftco-section mt-4 pt-4" id="work_with_us">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h2 class="">{{ .Title }}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
{{ with .Site.GetPage "/get_involved/work_with_us/jobs.md" }}
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg" id="jobs">
        <div class="media block-6 d-flex services d-block">
          <div class="media-body pl-4" style="min-height: 200px;">
            <h2 class="heading">{{ .Title }}</h2>
            <p style="min-height: 125px;">{{ .Params.description }}</p>
            <strong>
          <p>For current job openings please click
            <a href="{{ .Permalink }}">here</i></a>
          </p>
            </strong>
          </div>
        </div>
      </div>
{{ end }}
{{ with .Site.GetPage "/get_involved/work_with_us/work_for_women.md" }}
      <div class="col-md-6 d-flex align-self-stretch ftco-animate ftco-degree-bg" id="work_for_women">
        <div class="media block-6 d-flex services d-block">
          <div class="media-body pl-4 " >
            <h2 class="heading">{{ .Title }}</h2>
            <p style="min-height: 125px;">{{ .Params.description }}</p>
            <strong>
          <p class="text-center">
            <a href="{{ .Permalink }}">Know More<i class="ion-ios-arrow-forward"></i></a>
          </p>
            </strong>
          </div>
        </div>
      </div>
{{ end }}
    </div>
</section>
{{ end }}
{{ end }}
