{{ define "main" }}
<div
  class="hero-wrap"
  style="background-image: url('{{ .Params.banner }}');"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <span class="mr-2"
            ><a
              href="{{ .CurrentSection.Parent.Permalink }}"
              >{{ .CurrentSection.Parent.Title }}</a
            ></span
          >
          <span class="mr-2"
            ><a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a></span
          >
          <span>{{ .Title }}</span>
        </p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section " id="holistic_health">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-2">{{ .Params.title }}</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="container-fluid small-screen-gallery">
        <div class="d-md-flex row">
          {{ range $index, $element := .Params.gallery }}
          {{ if eq (len $element) $index }}
          <a href="{{ .image }}"
            class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate"
            style="background-image: url('{{ .image }}');" title="{{ .image_title }}"
            data-description="{{ .description }}">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {{ else }}
          <a href="{{ .image }}"
            class="gallery image-popup justify-content-center align-items-center img ftco-animate d-none"
            style="background-image: url('{{ .image }}');" title="{{ .image_title }}"
            data-description="{{ .description }}">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-search"></span>
            </div>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="gallery_slider col-lg-8 col-md-12">
        <div class="large-screen-gallery">
          <div class="slider-ctr">
            {{ range $index, $element := .Params.gallery }}
            {{ if eq (len $element) $index }}
            <figure class="slide text-on"><img src="{{ .image }}" alt="{{ .image_title }}" />
              {{ else }}
              <figure class="slide"><img src="{{ .image }}" alt="{{ .image_title }}" />
                {{ end }}
                <figcaption>
                  <div class="title">{{ .image_title }}</div>
                  <div class="author">{{ .description }}</div>
                </figcaption>
              </figure>
              {{ end }}
              <div class="slider-control">
                <div class="control prev disabled">
                  <div class="icon fas fa-chevron-left"></div>
                </div>
                <div class="control next">
                  <div class="icon fas fa-chevron-right"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="text-justify markdown-content col-lg-4 ftco-animate ftco-degree-bg">
        {{ if not (eq .Summary "") }}
          <p>{{ .Summary }}</p>
          <p>
          </p>
        {{ end }}
      </div>
    <div class="markdown-content ftco-animate ftco-degree-bg">
      <p>{{ .Content }}</p>
    </div>
    </div>
  </div>
</section>
{{ end }}
