<div class="container">
  <div class="row justify-content-center mb-1 pb-1">
    <div class="col-md-12 heading-section ftco-animate text-center">
      <h2 class="mb-4">{{ .Title }}</h2>
    </div>
  </div>
  <section class="ftco-section" id="sustainable_goals">
    <div class="container">
      <div class="row">
        {{ range $index, $element := .Params.goals }}
        <div class="col-md-3">
          <div class="avatar csr-sgd">
            <img src="{{ $element.image }}" alt="{{ $element.name }}" />
          </div>
        </div>
        {{ end }}
      </div>
      <div class="markdown-content col-md-12 ftco-animate ftco-degree-bg">
        <p>{{ .Params.description }}</p>
      </div>
    </div>
  </section>
</div>
