{{ define "main" }}
<div class="hero-wrap" style="background-image: url('{{ .Params.banner }}');">
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-end justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-7 ftco-animate text-center"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <h1 class="mb-3" style="color: white !important">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </div>
</div>

{{ range $index, $element := .Params.programmes }}
<!-- Quote section -->
{{ if not (eq $element.program_heading "") }}
<div class="col-md-12 heading-section ftco-animate text-center">
  <h2 class="mb-4">{{ $element.program_heading }}</h2>
</div>
{{ end }}
<section class="ftco-section bg-red" id="community_engagement">
  <div class="container">
    <div class="d-flex align-items-center flex-column">
      <blockquote class="blockquote text-center">
        <h4>
          <strong class="font-primary">{{ $element.quote_heading }}</strong>
        </h4>
        <p>
          <strong class="font-primary">{{ $element.quote }}</strong>
        </p>
      </blockquote>
    </div>
  </div>
</section>
<section class="ftco-section" id="">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <h4 class="mb-4">
          <strong
            ><i>{{ $element.side_heading }}</i></strong
          >
        </h4>
      </div>
      <div class="col-sm-12 col-md-6 d-flex ftco-animate">
        <div
          class="img img-involved img-fund-raiser"
          style="background-image: url('{{ $element.side_image }}'); "
        ></div>
      </div>
      <div class="markdown-content col-md-6 pl-md-5 ftco-animate ftco-degree-bg align-items-center">
        <p style="display: flex; align-items: center">{{ $element.side_content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
